
  
  /* Main Div Css*/
  .maindiv {
    /* background-color: #fff; */
    /* border: 1px solid red; */
   font-size: 14px;
    height: 600vh;
    width: 100%;
    padding: 0px 15px 0px 15px;
    margin: 30px 0px 30px 0px;
    text-decoration: none solid rgba(0, 0, 0);
    color:#212121;
    line-height: 1.4;

  }
  
  /* inner main div */
  .innermaindiv {
    width: 99%;
    /* border: 1px solid red; */
    /* margin: auto; */
    height: 1600vh;
  }
  .sorting{
    margin-left: 20px;
    font-weight: 500;
    border: 1px solid green;
  }
  .name{
    white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      padding-top: 15px;
  }
  .button{
    padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      cursor: pointer;
      background: #902735!important;
      color: #fff!important;
      text-align: center;
    
      width: 100%;
  }
  /* :hover.cart{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 7px 8px 7px 8px;
  } */
  .pagination{
   
     
      padding: 8px 15px 8px 15px;
      margin-left: 15px;
     background:  #902735!important;
    color:white
  }
  .color1{
    color:#fba937!important
  }
  .cart{
    background:#fff;
    align-items: stretch;
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    color:#212121
  }
  .info{
    width:100%;
    padding: 3px 7px 3px;
    background-color: #fff;
    /* position: relative; */
    z-index: 2;
    text-align: left;
  float: left;
    /* border: 1px solid black; */
    font-weight: 550;
   
  }
  @media (min-width: 750px) and (max-width: 1800px) {
    .cart {
      float: left;
      margin-right: 50px;
      height:493px;
    }
    .products{
      float: left;
      width: 84%;
    }
    .yellowbox{
      height: 350px;
      width: 100%;
    }
    .desc{
      margin-top: 5px;
      overflow: hidden;
      white-space: nowrap;
      float: left;
      border: 1px solid blue;
    }
    .images{
      height: 70%;
    }
    .maindiv{
      height: 100%;
    }
  }
  @media (min-width:0px) and (max-width:500px){
    .filtering{
      display: none;
      
    }
    .filterby{
      display: none;
      border: 1px solid black;
    }
    .sortingphone{
      display: none;
    }
   .cart{
  
    width: 100%;
    float: left;
    height: 400px;
   }
    .grid{
     width: 100%;
     height: 100%;
    }
    .info{
      margin-top: 190px;
     
      position: absolute;
      /* height: 40%;
      float: left;
      width: 130%; */
    

    }
    .yellowbox{
      width: 70%;
    }
    .desc{
      float: left;
      border: 1px solid red;
      width: 100%;
      height: 100%;
      overflow: unset;
     word-wrap: break-word;
    }
    .images{
      height: 50%;
      border: 3px solid green;
    }
    .maindiv{
      height: 90%;
    }
    .none{
      display: none;
    }
  }
